@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;800&family=Poppins:wght@300;400;500;700&display=swap');

:root {
    --cor-destaque: #0097B2;
    --cor-principal: #C9C9C9;
    --cor-secundaria: #000000;
    --cor-terciaria: #FFFFFF;
    --background-principal: rgb(23, 23, 23);

    --header: rgba(23, 23, 23, 0.9);
    
}
