@import "./colors";

@media screen and (max-width: 1024px) {

    //HEADER

    header{
        display: flex;
        justify-content: space-between;
    }

// -----------

    .header-menu {
        display: block;
    }

    .header-nav {
        display: none;

        background-color: var(--background-principal);
        border-left: 1px solid var(--cor-principal);
        border-bottom: 1px solid var(--cor-principal);
        text-align: center;

        position: absolute;
        top: 100%;
        width: 60vw;
        right: 0;
    }



    .header-list-container {
        display: flex;
        flex-direction: column;

        gap: 0;
    }

    .header-list-itens {
        padding: 1rem;
    }

// -------------

    .header-icons {
        display: none;
    }


    //PRIMEIRO HERO

    .hero-principal {
        display: flex;
        flex-direction: column;

        gap: 2rem;
    }

    .hero-text {
        width: 90%;
        padding-top: 4rem;

        a {
            font-size: 1.3rem;
        }
    }

    //SEGUNDO HERO
    .hero-about-title {
        font-size: 1.6rem;
    }

    //TERCEIRO HERO
    .hero-proposta-img {
        display: none;
    }

    .hero-proposta-content {
        text-align: center;
    }

    //FOOTER 
    .footer-cr {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .footer-pp {
        display: none;
    }

    //ABOUTUS

    .hero-aboutus {
        display: flex;
        flex-direction: column;

        padding: 6rem  0 2rem 0;
        gap: 2rem;
    }

    .hero-aboutus-content {
        gap: 1rem;
    }
}