@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;800&family=Poppins:wght@300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
}

:root {
  --cor-destaque: #0097b2;
  --cor-principal: #C9C9C9;
  --cor-secundaria: #000000;
  --cor-terciaria: #FFFFFF;
  --background-principal: #171717;
  --header: rgba(23, 23, 23, 0.9);
  --cor-destaque-opaca: rgba(0, 151, 178, 0.1);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background-principal);
  color: var(--cor-principal);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.5rem 2rem;
}

.header-section {
  position: fixed;
  width: 100%;
  background-color: var(--header);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  z-index: 1000;
}

.header-logo {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 4rem;
}
.header-logo img {
  width: 100%;
}
.header-logo h1 {
  font-size: 2rem;
  pointer-events: none;
}
.header-logo strong {
  color: var(--cor-destaque);
}

.header-menu {
  display: none;
}
.header-menu i {
  color: var(--cor-destaque);
}

.header-nav {
  display: block;
}

.header-list-container {
  display: flex;
}
.header-list-container li {
  list-style: none;
}

.header-list-itens {
  padding: 0 1.5rem;
}
.header-list-itens a {
  text-decoration: none;
  color: var(--cor-terciaria);
  font-size: 1rem;
  text-transform: uppercase;
}

.header-list-itens:hover {
  animation: zoom 2s infinite alternate;
}
.header-list-itens:hover a {
  color: var(--cor-destaque);
  transition: 0.4s;
}

.header-phone {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
.header-phone a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 0.3rem 0.4rem;
  border-radius: 12px;
  color: var(--cor-terciaria);
  font-size: 1.2rem;
}

.fa-whatsapp {
  color: #25D366;
}

.header-phone-call:hover {
  color: var(--cor-destaque);
  transition: 1s;
  animation: zoom 2s infinite alternate;
}

.header-destaque {
  border-right: 1px solid var(--cor-destaque);
  border-left: 1px solid var(--cor-destaque);
}
.header-destaque a {
  color: var(--cor-destaque);
  font-weight: bold;
}

.hero-principal::before {
  content: "";
  display: block;
  position: fixed;
  background-image: url(../assets/codinggif.gif);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  filter: blur(8px);
  opacity: 0.2;
}

.hero-principal {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-principal);
  gap: 6rem;
  padding: 6rem 0;
}

.hero-text {
  display: flex;
  flex-direction: column;
  width: 30vw;
  gap: 2rem;
}
.hero-text .fa-globe {
  color: var(--cor-destaque);
}
.hero-text h1 {
  font-size: 2rem;
}
.hero-text p {
  font-size: 1.2rem;
}
.hero-text a {
  width: 14rem;
  box-sizing: border-box;
  text-decoration: none;
  text-align: center;
  color: var(--cor-secundaria);
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  background-color: var(--cor-principal);
}

.hero-text-letstalk:hover {
  background-color: var(--cor-destaque);
  color: var(--cor-terciaria);
  transition: 2s;
}

.hero-img {
  width: 30%;
}
.hero-img img {
  width: 100%;
}

.website-img {
  animation: moveUpDown 3s infinite;
}

.hero-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem 0;
}

.hero-about-title {
  font-size: 2rem;
  padding-bottom: 3rem;
  color: var(--cor-principal);
}

.hero-about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4rem;
}

.hero-about-itens {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem;
  gap: 0.5rem;
  border: 2px solid var(--cor-principal);
  border-radius: 1.5rem;
  width: 16rem;
  height: 14rem;
}
.hero-about-itens i {
  color: var(--cor-destaque);
}
.hero-about-itens h3 {
  color: var(--cor-principal);
}
.hero-about-itens p {
  color: var(--cor-principal);
}

.hero-proposta {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-principal);
  padding: 3rem 0;
  gap: 5rem;
  background: linear-gradient(90deg, #171717 50%, #181818 50%);
  background-size: 200% 100%;
  animation: wave 5s infinite linear;
}

.hero-proposta-img {
  width: 20rem;
}
.hero-proposta-img img {
  width: 100%;
  animation: moveDiagonal 4s infinite;
}

.hero-proposta-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.hero-proposta-content h2 {
  font-size: 3rem;
}
.hero-proposta-content a {
  text-decoration: none;
  color: var(--cor-destaque);
  font-size: 1.2rem;
  text-transform: uppercase;
  padding: 1rem;
  border: 2px solid var(--cor-destaque);
}

.hero-proposta-solicite:hover {
  background-color: var(--cor-secundaria);
  color: var(--cor-principal);
  transition: 1s;
}

footer {
  background-color: var(--cor-secundaria);
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0.5rem 0;
}

.footer-cr {
  display: flex;
  gap: 0.5rem;
}

.footer-pp a {
  text-decoration: none;
  color: var(--cor-principal);
}

.hero-aboutus {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12rem 0 6rem 0;
  gap: 10rem;
}

.hero-aboutus-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-aboutus-logo {
  width: 20rem;
  animation: zoom 2s alternate infinite;
}
.hero-aboutus-logo img {
  width: 100%;
}

.hero-aboutus-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 24rem;
}
.hero-aboutus-content h2 {
  font-size: 4rem;
}
.hero-aboutus-content h2 strong {
  color: var(--cor-destaque);
}
.hero-aboutus-content p {
  font-size: 1.3rem;
}

.hero-about-sec {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem 0;
  background-color: var(--cor-principal);
}

.hero-about-sec-title {
  font-size: 2rem;
  padding-bottom: 1rem;
  color: var(--cor-secundaria);
}

.hero-about-sec-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4rem;
}

.hero-about-sec-itens {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem;
  gap: 0.5rem;
  border: 2px solid var(--cor-secundaria);
  border-radius: 1.5rem;
  width: 16rem;
  height: 14rem;
}
.hero-about-sec-itens i {
  color: var(--cor-destaque);
}
.hero-about-sec-itens h3 {
  color: var(--cor-secundaria);
}
.hero-about-sec-itens p {
  color: var(--cor-secundaria);
}

.hero-budget {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 6rem 0 4rem 0;
  gap: 2rem;
}

.budget-title {
  width: 60vw;
  text-align: center;
}
.budget-title h1 {
  font-size: 2.5rem;
  color: var(--cor-destaque);
}

.budget-form {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  gap: 1.5rem;
  padding: 0 2rem;
}

.budget-form-content {
  display: flex;
  flex-direction: column;
}
.budget-form-content label {
  font-size: 1.5rem;
}
.budget-form-content input {
  border-radius: 6px;
  font-size: 1.5rem;
  padding: 0.5rem;
  border: 2px solid var(--background-principal);
}
.budget-form-content textarea {
  border-radius: 6px;
  font-size: 1.5rem;
  padding: 0.5rem;
  border: 2px solid var(--background-principal);
}

.budget-form-content input:focus {
  border: 2px solid var(--cor-destaque);
  outline: none;
}

.budget-form-content textarea:focus {
  border: 2px solid var(--cor-destaque);
  outline: none;
}

.budget-form-submit {
  padding-top: 2rem;
}
.budget-form-submit input {
  text-transform: uppercase;
}

.budget-form-submit:hover input {
  background-color: var(--cor-destaque);
  transition: 0.5s;
}

.hero-thanks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8rem 0 10rem 0;
  gap: 2rem;
}

.hero-thanks-img {
  width: 16rem;
  animation: zoom 2s infinite alternate;
}
.hero-thanks-img img {
  width: 100%;
}

.hero-thanks-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.hero-thanks-content h2 {
  color: var(--cor-destaque);
  font-size: 2rem;
}
.hero-thanks-content p {
  font-size: 1.2rem;
}

.btn-top {
  position: fixed;
  bottom: 0.5rem;
  right: 1rem;
  z-index: 99;
  padding: 1rem;
  border-radius: 50%;
  animation: zoom 2s infinite alternate;
}

@keyframes moveUpDown {
  0%, 100% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(-10px);
  }
}
@keyframes zoom {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}
@keyframes moveDiagonal {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-25px, 25px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes wave {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}/*# sourceMappingURL=styles.css.map */